

.main-categories{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
margin: 5px 0px 5px 0px;
}

.first-category{
    width: 428px;
    height: 35px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;

}
.second-category{
    width: 428px;
    height: 35px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E4E4;
}

.category-title{
    color: #000000;
    text-align: left;
    font-size: 16px;
    font-family: 'SFProDisplay-Medium';
    padding: 0px;
    margin: 0px;
}